<h1>Hi Zillow :)</h1>

<div>
  <input #usernameSearch />
  <button (click)="searchGitHubUser(usernameSearch.value)">Search</button>
  <p style="color:red" *ngIf="errorMessage" class="error">{{errorMessage}}</p>
</div>

<div *ngIf="githubUserDetails">
  <p><b>GitHub Account:</b> <a href="{{githubUserDetails.details.html_url}}">{{ githubUserDetails.details.login }}</a></p>
  <p><b>Number of Public Repositories:</b> {{ githubUserDetails.details.public_repos }}</p>
  <p><b>Repositories committed to most:</b></p>
  <ul>
    <li *ngFor="let repository of githubUserDetails.commits">
      {{repository}}
    </li>
  </ul>
</div>
